<div class="page-container">
  <div class="top">
    <div class="left col-sm-4">
      <div class="email">
        Need some help? <br> example@inf.d-order.cc
      </div>
    </div>
    <div class="center col-sm-4">
      <div class="main">
        <h3>Drinks</h3> <br>
        <hr>
      </div>
    </div>
    <div class="center col-sm-4">
      <div class="user">
        <div class="login col-sm-6">
          <i class="fas fa-user" (click)="loginOrLogout()"></i>
        </div>
        <div class="cart col-sm-6">
          <div class="Cart col-sm-12" (click)="toCart()">
            Cart
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 menu-bar">
      <div class="home col-sm-3 items">
        <h5>Home</h5>
      </div>
      <div class="search col-sm-3 items">
        <h5><a routerLink="/search">Search</a></h5>
      </div>
      <div class="about col-sm-3 items">
        <h5>About</h5>
      </div>
      <div class="contact col-sm-3 items">
        <h5>Contact</h5>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="pictures col-sm-12">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra mauris ac est bibendum venenatis. Sed sed orci justo. Etiam non pulvinar arcu. Nunc sem nibh, eleifend euismod massa nec, tincidunt egestas lorem. Donec ut nibh quis metus commodo viverra a nec quam. Nulla eleifend magna sed velit aliquam, non tristique turpis vulputate. Sed est odio, varius a enim lacinia, maximus malesuada nisi. In molestie elementum massa nec lobortis. Integer consectetur ex lectus, eu consequat orci volutpat in. Fusce mattis purus vel libero pellentesque, imperdiet hendrerit purus malesuada. Aliquam sapien dolor, tempor sit amet neque sit amet, lobortis elementum diam. Aliquam erat volutpat. Pellentesque eu turpis odio.</div>
    <div>Fusce augue dolor, scelerisque sit amet augue et, pharetra tincidunt mi. Vestibulum tristique libero vel velit consequat, id gravida enim laoreet. Cras dapibus vel magna ac pretium. Donec placerat mauris lorem, eu molestie velit cursus nec. Sed tincidunt venenatis urna feugiat porta. Maecenas vel dolor eros. Nunc hendrerit id dolor a venenatis. Morbi non diam nec velit hendrerit congue. Duis at mauris ornare, finibus massa eget, placerat ligula. Duis auctor non elit vel lobortis. Nunc feugiat molestie tristique. Aliquam sit amet neque a tortor mattis iaculis nec ut erat. Curabitur mauris neque, ultricies non blandit at, iaculis sit amet est. Aenean posuere vulputate quam.</div>
    <div>Donec lobortis, mi in vulputate semper, sem eros elementum lacus, non posuere risus ante id metus. Nunc sagittis justo diam, sit amet hendrerit libero lacinia quis. Morbi sed lorem ullamcorper, feugiat leo consequat, aliquam purus. Nullam purus sem, tempus in elit in, maximus semper dolor. Pellentesque tincidunt facilisis ligula vitae maximus. Etiam congue condimentum eros, eget elementum velit posuere id. Suspendisse molestie auctor nibh pulvinar venenatis. Integer ultrices ultrices massa, ac dictum ipsum hendrerit nec. In vulputate, elit ornare lacinia eleifend, nulla est mollis lorem, et rutrum nulla augue pharetra mi. Morbi viverra condimentum nisi sed ultricies. Nulla ut nisi ipsum. Pellentesque at mi et nunc consectetur tempus nec ornare leo. Donec maximus enim nec eros volutpat interdum. In nec sapien sed nisi vestibulum finibus.</div>
    <div>Aliquam scelerisque eros in volutpat mattis. Sed felis lorem, vestibulum eu velit sit amet, dictum laoreet mauris. Pellentesque gravida diam vel dui pretium, et egestas sem mattis. Morbi non ligula a metus elementum faucibus. Phasellus et enim non purus vulputate congue nec non felis. Sed ut mi pulvinar, pretium quam vel, tincidunt justo. Etiam dictum nisl a lectus ornare bibendum a fermentum neque. Nullam ullamcorper venenatis odio, vitae condimentum nisl sagittis ac. Aliquam aliquam leo vel dui elementum, vel congue augue mollis. Donec eu enim gravida, mattis libero in, congue diam.</div>
    <div>Etiam sit amet congue orci, nec malesuada turpis. Vestibulum finibus porta leo sed cursus. Quisque ut augue nec lacus sollicitudin euismod. Phasellus augue diam, suscipit sit amet lacus sit amet, auctor bibendum purus. Curabitur euismod est ac est fringilla maximus. Sed dui tellus, euismod ac tristique eu, ultrices a turpis. Sed in enim sed purus gravida euismod a nec turpis. Suspendisse aliquam neque a pretium elementum. Cras et elit nibh. Vivamus ac sodales purus. In vel ex aliquet, convallis sapien eu, pulvinar mauris. Duis non euismod sem. Praesent ut est eleifend, maximus sapien sit amet, auctor neque.</div>
  </div>
  <div class="footer col-sm-12">
    asdasdasdasd
  </div>
</div>
