.top {
  width: 100%;
}

.main {
  text-align: center;
}

.items:hover {
  transform: scale(1.1, 1.1);
  filter: brightness(1.3);
  cursor:  pointer;
  text-decoration: underline;
}

.footer {
  bottom: 0;
  position: fixed;
  background-color: black;
  width: 100%;
}

.pictures {
  height: 1600px;
  background-image: url("../../img/loginback.jpg");
  opacity: 0.8;
}

.page-container {}

/*
<div class="search col-sm-3">
  <input type="text" name="" placeholder="Search">
  <input type="button" name="" value="Search">
</div>
*/
